@import url(//fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);



	.btn.blue {
		background-color: #71AEB3;
	}
	
	.btn.green {
		background-color: #A2BB63;
	}
	
	.btn.yellow {
		background-color: #EFC94C;
	}
	
	.btn.orange {
		background-color: #E27A3F;
	}
	
	.btn.red {
		background-color: #DF5A49;
	}

    .btn-full-width {
	    width: 100%;
    }
    
.carols-menu .btn-primary:visited {
  background-color: #D9EDF7;
}


.carols-menu .btn-primary {
  /*background-color: #D9EDF7;*/
}

    .mobile-sidebar .btn-primary, .mobile-sidebar .btn-primary:hover {
	    border-color: #fff;
    }
    
    .mobile-sidebar .btn-primary:hover, .btn-primary:hover {
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";       /* IE 8 */
		filter: alpha(opacity=80);  /* IE 5-7 */
		-moz-opacity: 0.8;          /* Netscape */
		-khtml-opacity: 0.8;        /* Safari 1.x */
		opacity: 0.8;               /* Good browsers */
    }
    
    .program.table .time {
	    min-width: 110px;
	    font-weight: 700;
    }
    
    
 #home.no-slider {
	 background-color: #051A2F;
	 height:300px;
 }


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  
  
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;

}

.row-eq-height:before, .row-eq-height:after {
  width: 0;
}


section#map {
	overflow: hidden;
}

body.page .carousel-caption {
	display: none;
}

body.home .carousel-caption {
	display: none;
}

/*
body .fixed-menu {
	background-color: #fff;
}
*/

.xmas-lights {
	background-image: url("../images/christmaslights.png");
	background-size: 700px;
	background-position: center top 10px;
	background-repeat: repeat-x;
	padding-top: 80px;
}




/*************************
*******Typography******
**************************/

body {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  //color: #fff
  color:#1e1e1e;
}

body.home {
	color:#FFF;
}


.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 36px
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle, 
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}


/*************************
*******Header CSS******
**************************/

.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}

.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.main-nav 
.container {
  width: 100%
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;  
}

.social-icons .fa-facebook:hover {
  color: #3B5997
}

.social-icons .fa-twitter:hover {
  color:#29C5F6
}

.social-icons .fa-google-plus:hover {
  color:#D13D2F
}

.social-icons .fa-youtube:hover{
  color: #ec5538
}

.navbar-brand {
/*   background-color: #529E9B; */
/*   background-color: #2FB04D; */
  background-color: none;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 297px;
}

.navbar-brand img {
  position: absolute;
  top: -35px;
}

.navbar-right {
/*   background-color: #529E9B; */
/*   background-color: #2FB04D; */
  background-color: #d12329;
  padding:0 95px 0 0;
  opacity: .9
}

.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover, 
.navbar-right li a:focus,  
.navbar-right .active a {
  background-color: #fff;
  color: #051A2F;
}


.fixed-menu {
/*   background-color: #529E9B; */
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.fixed-menu .navbar-brand img {
  height:60px;
  top: 0;
}

.fixed-menu .header-top {
  display: none;
}



/*************************
*******Home CSS******
**************************/

#home {
  position: relative;
  overflow: hidden;
}

#main-slider img {
  width: 100%
}


div#facebook-box {
	text-align: center;
}


#main-slider 
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 14%;
  float: left;
  left: 0;
  opacity: 0.8;
  padding:10px 60px 35px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}


#main-slider 
.carousel-caption h2 {  
  font-size: 38px;
 
}

.carousel-inner>.item {
	max-height: 700px; 
}

body.page .carousel-inner>.item {
	max-height: 300px; 
}

#main-slider 
.carousel-caption h4 {
  font-size: 24px;
}

#main-slider 
.carousel-caption a {
  font-size: 22px;
  color: #2da1c5
}

#main-slider 
.carousel-caption a:hover {
  color: #2588a6
}

#main-slider 
.carousel-caption a:hover i {
  margin-left: 35px
}

#main-slider 
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main-slider 
.carousel-indicators li {
  background-color:#529E9B;
  border: 1px solid #529E9B;
}

#main-slider 
.carousel-indicators li.active {
  background-color:#fff;
  border: 1px solid #fff;
}


/* SCHEDULE PAGE */

.v-align-children {
	display: -webkit-flex;
display: -moz-flex;
display: -ms-flexbox;
display: flex;
align-items: center;
-webkit-align-items: center;
justify-content: center;
-webkit-justify-content: center;
flex-direction: row;
-webkit-flex-direction: row;
/*     flex-wrap: wrap; */

/*

flex-wrap: wrap; 
 	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
*/
}

/* To stop flex box taking over on mobile phone sizes */
body.schedule .v-align-children {
	flex-wrap: wrap; 
 	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	

}

/* To stop flex box taking over on mobile phone sizes */
body.romac .v-align-children {
	flex-wrap: wrap; 
 	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;

}

.v-align-children:before, .v-align-children:after {
  width: 0;
}


.promo-block img {
	width: 100%;
	max-width: 653px;
}

.promo-block {
	padding-bottom: 100px;
}

h1.large {
	font-size: 80px;
	line-height: 80px;
	font-weight: 900
}

body.schedule h1.large {
	text-transform: inherit;
}


body.schedule h2 {
	text-transform: lowercase;
	font-size: 300%;
}

body.schedule .schedule-time {
	font-family: 'Yanone Kaffeesatz','sans-serif';
	font-size: 24px;
	padding: 9px 23px;
	color: #4292D3;
}

.promo-block-green h2, .color-green ,.promo-block-green .heading-line:after {
	color: #A4BD63;
}

.promo-block-teal h2, .color-teal {
	color: #77B2B7;
} 

.promo-block-red h2, .color-red {
	color: #F26A67;
} 

.promo-block-yellow h2, .color-yellow {
	color: #FEC235;
} 

.promo-block-orange h2, .color-orange {
	color: #FC8931;
} 


.heading-line:after {
	content: '';
	display: block;
	margin-top: 30px;
	width: 42px;
	border-top: 8px solid #000;
	margin: 21px auto 0;
}






/*************************
*******Sponsors page ******
**************************/

body.sponsors .sponsor-logo {
	width: 100%;
}


/*
body.sponsors #section.container .row.text-center {
	justify-content: text-center;
}
*/


body.sponsors .sponsors .row-eq-height, body.sponsors .sponsors .row {
	justify-content: center;
	
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
}

/*

body.sponsors .sponsor-logo-wrap {
	height: 200px;
}

body.sponsors .sponsor-logo-helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

body.sponsors .sponsor-logo {
	vertical-align: middle;
}
*/



/*
body.sponsors .sponsor-title {
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
	text-align: center; //might not be needed
	margin: 0 auto; //might not be needed
}
*/

body.sponsors .sponsor-logo {
	margin: auto;
	
}

body.sponsors p.sponsor-logo {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 120%;
}

body.sponsors .sponsor-block {
	opacity: 0.4;
  /*
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
  filter: gray; 
  -webkit-filter: grayscale(100%); 
*/
  
  transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    
    
    
   display: -webkit-flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

}

body.sponsors .sponsor-block:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  opacity: 1;
}


/*************************
*******Explore CSS******
**************************/

#explore {
/*   background-color: #CA2526; */
background-color: #051A2F;
/*   background-image: url("../images/event-bg.jpg"); 
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
*/
background-image: url("../images/christmaslights.png");
background-size: 700px;
background-position: center top 10px;
background-repeat: repeat-x;

position: relative;
overflow: hidden;
padding: 80px 0 5px;
}

.watch {
  position: absolute;
  left: 0;
  top: -50%;
  padding-left: 90px;
}

#explore h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0
}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 82px;
  line-height: 79px;
  width: 75px;
  border-radius: 10px;
  border-right: 1px solid #9e3e2e;
  border-bottom: 1px solid #9e3e2e;
}

#countdown li .days {
  background-color: #45b29d;
  border-top: 1px solid #6ac1b1;
  border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
  background-color: #efc94c; 
  border-top: 1px solid #f2d470;
  border-left: 1px solid #f2d470;
}

#countdown li .minutes {
  background-color: #e27a3f;
  border-top: 1px solid #e89565;
  border-left: 1px solid #e89565;
}

#countdown li .seconds {
  background-color: #df5a49;
  border-top: 1px solid #e57b6d;
  border-left: 1px solid #e57b6d;
}

#countdown li:before {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 1px;
}

#countdown li:after {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  right:0;
  position: absolute;
  top: 36px;
  width: 1px;
}

.cart {
  background-color: #b34534;  
  position: absolute;
  right:-200px;
  top: 37%;
  width:252px;
   -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.cart:hover {
  right:0;
}


.cart a {
  color: #FFFFFF;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
}

.cart a i {
  font-size: 30px;  
  padding: 20px 12px;
  background-color: #A64030; 
  margin-right: 3px;
}

 
/*EMAIL*/

#email, #email .mc_embed_signup,#email #mc_embed_signup {
  background-color: #d12329 !important;
}

#email {
  padding: 30px 0px;
}


 /*************************
*******Event CSS******
**************************/
#event {
/*   background-color: #529E9B; */
background-color: #051A2F;
  /*
background-image: url("../images/performar-bg.jpg");
  background-position: 50% 0;
  background-size: contain;
*/
background-image: url("../images/christmaslights.png");
background-size: 700px;
background-position: center top 10px;
background-repeat: repeat-x;
  position: relative;
}

.guitar {
  position: absolute;
  right:0;
  top: 0
}


#event h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 70px;
  text-transform: uppercase;
}

.single-event {
  margin-bottom: 70px;
}

.single-event h4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}


.single-event h5 {
  font-size: 18px;
  font-weight: 100;
  display: block;
}

#event-carousel {
  position: relative;
}

.even-control-left, 
.even-control-right {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 0;
}

.even-control-left {
  right: 3%
} 

.even-control-right {
  right: 0;
}




/*************************
*******About CSS**********
**************************/

#about {
  //background-color: #75B46E;  
  position: relative;  
  width: 100%;
  display: flex;
  color:#1e1e1e;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}


#about .images {
	text-align: center;
 
}

#about .images img {
  padding-top: 3%;
  width: 45%;
  display: inline-block;
  padding: 4px;
}

.about-content {
  width: 50%;
/*   background-image: url("../images/about-bg.jpg"); */
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
/*   padding: 70px 70px 110px; */
}


#about h2 {
  margin-bottom: 23px;
}

.about-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
}

#about .btn-primary {
  background-color: #d12329;
  color: #fff;
  text-transform: capitalize;
  border: none;
  margin-top: 28px;
}

#about .btn-primary:hover {
  background-color: #051A2F;
}



/*************************
******Twitter CSS****
**************************/

#twitter {
  background-color: #ecedef;
  background-image: url("../images/twitter-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
  padding: 95px 0 90px;
  overflow: hidden;
}

.twit {
  position: absolute;
  left: 0;
  top:-42%;
}

#twitter-feed .item {
  text-align: center;
}

#twitter-feed .item img {
  display: inline-block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #c5c8ce;
  padding: 5px;
  margin-bottom: 30px;
}

#twitter-feed .item a, 
#twitter-feed .item p { 
  font-size: 24px;
  font-weight: 300;
  font-family: 'Yanone Kaffeesatz','sans-serif';
}

#twitter-feed .item p {
  color: #3D3D3D;
}

#twitter-feed .item a {
  color:#00c3ff;
}

.twitter-control-left, 
.twitter-control-right {
  position: absolute;
  color: #00c3ff;
  top: 59%;
  font-size: 24px
}

.twitter-control-left {
  left: 0;
}

.twitter-control-right {
  right:0;
} 



/*************************
******Sponsor CSS****
**************************/

#sponsor {
  background-color: #DADADA;
/*   background-image: url("../images/sponsor-bg.jpg"); */
  background-position:50% 0;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
}

.light {
  position: absolute;
  right: 0;
  bottom: 0;
}

#sponsor .col-sm-10 {
  z-index: 10;
}

#sponsor h2 {
  margin-top: 90px;
  margin-bottom: 40px;
}

#sponsor .item ul {
  font-size: 0;
  padding: 0;
}


#sponsor .item ul li {
  display: inline-block;
  list-style: none;
  width: 25%;
  margin-bottom: 75px;
}

#sponsor .item ul li:last-child {
  margin-right: 0
}

.sponsor-control-left, 
.sponsor-control-right {
  color: #FFFFFF;
  font-size: 24px;
  position: absolute;
  top: 20%;
}

.sponsor-control-left {
  right: 12%
}

.sponsor-control-right {
  right: 10%
}


/*************************
******Map CSS****
**************************/
#map {
  position: relative;
}

#gmap {
  height:450px;  
}


/*************************
******Contact CSS****
**************************/

.contact-section {
  background-color: #f7ab24;
  background-image: url("../images/contact-bg.jpg");
  background-position:60% 0;
  background-size:contain;
  background-repeat:no-repeat;  
  position: relative;
}

.ear-piece {
  position: absolute;
  left: 0;
  top: 0;
}

#contact .container {
  padding-top:47px;
}

#contact h3 {
  text-transform:inherit;
  color: #373737; 
}

#contact-section h3 {  
  margin-bottom: 25px
}

#contact address {
  font-size: 18px;  
  color: #373737; 
}

.contact-text {
  margin-bottom: 35px;
  display: block;
}


#contact-section .form-control {
  border-color: #ae750d;
  box-shadow:none;
  outline: 0 none;
  border-radius: 0;
  color: #797979;
  font-size: 18px;
}

#contact-section .form-control:focus {
  border-color: #ae750d;
}

#contact-section input {  
  height: 44px;
}

#contact-section textarea {
  height: 90px;
  resize:none;
}

#contact-section .btn-primary {
  background-color: #373737;
  color: #f7ab24;
  border: none;
  font-size: 24px;
  padding: 6px 42px;
  margin-bottom: 110px;
  margin-top: 10px
}

#contact-section .btn-primary:hover {
  background-color: #212020;
  color: #fff
}



/*************************
******Footer CSS****
**************************/

#footer {
/*   background-color: #212121; */
background-color: #fff;
/*
  background-image: url("../images/footer-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
*/
  color: #1e1e1e;
  font-size: 13px;
  padding: 35px 0;
}

#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#529E9B
}


